<!DOCTYPE html>

<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>커넥트페이 테스트</title>
    <link rel="stylesheet" href="/css/common.css"/>

    <script src="https://js.tosspayments.com/v1/openpay" type="text/javascript"></script>
</head>
<body>

<div class="section">
    <h1>커넥트페이 API - 회원 가입 테스트</h1>
</div>

<form action="/api-terms" method="POST">
    <p>약관 목록</p>
    <div>
        {{#terms}}
            <p>
                <input type="checkbox" name="termsId" id="{{id}}" value="{{id}}">
                <label for="{{id}}"></label>
                <a href="{{url}}" target="_blank">{{title}}</a>
            </p>
        {{/terms}}
    </div>

    <div>-----</div>

    <p>
        <button type="submit">동의 하기</button>
    </p>
</form>
</body>
</html>
