<!DOCTYPE html>

<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>커넥트페이</title>
    <link rel="stylesheet" href="/css/common.css"/>
</head>
<body>

<div class="section">
    <h1>인증 처리 결과</h1>

    <p>message: {{message}}</p>
</div>
</body>
</html>
