<!DOCTYPE html>

<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>커넥트페이 테스트</title>
    <link rel="stylesheet" href="/css/common.css"/>

    <script src="https://js.tosspayments.com/v1/connectpay" type="text/javascript"></script>
</head>
<body>

<div class="section">
    <h3>테스트 페이지 목록</h3>
</div>
<p>
    <a href="/setup">테스트 정보 설정</a>
</p>

<div>-----</div>

<p>
    <a href="/ui">UI - JS SDK 연동 테스트</a>
</p>

<div>-----</div>

<p>
    <a href="/api-terms">API - 회원 가입 테스트</a>
</p>

<p>
    <a href="/api-register">API - 카드 등록 테스트</a>
</p>

<p>
    <a href="/api-pay">API - 결제 실행 테스트</a>
</p>

</body>
</html>
