<!DOCTYPE html>

<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>오픈페이 테스트</title>
    <link rel="stylesheet" href="/css/common.css"/>
</head>
<body>
<section>
    <h1>결제 성공</h1>

    <h3>상품명: 토스 티셔츠</h3>
    <h3>주문번호: {{orderId}}</h3>
</section>
</body>
</html>